@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Fleur+De+Leah&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+DE+VA+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(../cursor/Cursor.png) 17 17, pointer !important;
}

/**
 * HTML and body styles
 */
html,
body {
    min-height: 100vh;
    background: url(../img/img.png) center center no-repeat fixed;
    background-size: cover;
    background-color: #4d4c4c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* Splash Screen */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #232324);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    transition: opacity 1s ease-out, transform 1.5s ease-in-out;
}

.drawing {
    width: 80%;
    height: auto;
}

.text-path {
    font-family: "Arial Black", sans-serif;
    font-size: 80px;
    fill: none;
    stroke: #19D1C2;
    stroke-width: 3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4.6s cubic-bezier(0.65, 0, 0.35, 1) forwards,
        fillColor 1.5s ease-in 1.5s forwards;
    text-shadow: 0 0 50px #19D1C2;
}



@keyframes draw {
    to {
        stroke-dashoffset: 0;

    }
}

@keyframes fillColor {
    to {
        fill: #19D1C2;
        stroke: none;
    }
}

.splash-screen.up {
    animation: slideUp .5s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}


.content {
    display: none;
    text-align: center;
    padding: 20px;
    opacity: 0;
    animation: fadeInContent 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.content.show {
    display: block;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/**
 * Nav styles
 */

header {
    background: url(../img/cima.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
}

nav,
nav ul {
    background-color: transparent !important;
    color: #19D1C2 !important;
}

nav ul li a:hover {
    color: #19D1C2 !important;
    background-color: transparent !important;



}

#scrollTopButton {
    width: 45px;
    height: 45px;
    background: linear-gradient(#000000, #222424);
    display: flex;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.arrow path {
    fill: white;
}

#scrollTopButton:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/**
 * Intro styles
 */

.atom {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.center {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px orange, 0 0 50px orange;
}

.orbit {
    position: absolute;
    /* Change to absolute */
    top: 20%;
    /* Center the orbit */
    left: 0%;
    /* Center the orbit */
    translate: -50%, -50%;
    /* Center it perfectly */
    border-radius: 50%;
    /* Keep the elliptical shape */
    border: 1px dashed rgba(255, 255, 255, 0.3);
    transform-style: preserve-3d;
    animation: rotate 3s linear infinite;
}

.orbit1 {
    width: 200px;
    /* Major axis */
    height: 120px;
    /* Minor axis */
    transform: translate(-50%, -50%) rotateX(45deg);
    /* Combine centering and rotation */
}

.orbit2 {
    width: 200px;
    height: 120px;
    transform: translate(-50%, -50%) rotateX(-45deg);
    animation-duration: 5s;
}

.orbit3 {
    width: 200px;
    height: 120px;
    transform: translate(-50%, -50%) rotateY(90deg);
    animation-duration: 10s;
}

.electron {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px cyan, 0 0 30px cyan;
}

.electron1 {
    background: rgba(0, 150, 255);
}

.electron2 {
    background: rgba(0, 0, 255);
}

.electron3 {
    background: rgba(255, 0, 255);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intro {
    color: white;
    align-content: center;
    gap: 20px;
    justify-content: center;
    margin-left: 10vw;
    height: 100vh;
    width: 600px;
}

.name {
    font-size: 1.3rem;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.name h1 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.452);
}

.name img {
    border-radius: 50%;
    border: 2px solid #19D1C2;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.name img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #19D1C2;

}

.title h1 {
    font-weight: 600;
    font-size: 45px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.185);
}

.title p {
    font-weight: 400;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
}

/**
 * Technology styles
 */
.technology {
    height: 100vh;
}

.technology img {
    color: #19D1C2;
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.cards {
    width: 30%;
}

.technology h1 {
    font-size: 45px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.185);
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #19D1C2;
}

.card:hover {
    color: red;
}

#typewriter {
    border-right: 2px solid white;
    /* Cursor animado */
    white-space: nowrap;
    overflow: hidden;
    width: 20ch;
    /* Define o tamanho do texto */
}


.me {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(50px);
}

.galeria {
    margin: auto;
    width: 70vw;
    height: 100vh;
}

.title-degradado {
    color: transparent;
    --webkikt-background-clip: text;
    background-image: linear-gradient(to right, #19D1C2, #087e74);
    font-size: 50px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
    font-weight: 400;
}

.title-degradad {
    background-image: linear-gradient(to right, #19D1C2, #087e74);
    font-weight: 400;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
}


.job {
    height: 100vh;
    gap: 20px;
    width: 100%;
}
.image-projetos {
    gap: 1rem;
    width: 50%;
    height: 60%;
    border-radius: 25px 100px;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
    padding: 1rem;
    position: relative;
  }
  
  .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Pode ser ajustado conforme desejado */
    opacity: 0; /* Inicialmente invisível */
    transition: all 0.5s ease-in-out; /* A transição da opacidade */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
  }
  

.list {
    gap: 1rem;
    padding: 1rem;
    height: 70%;
    width: 40%;
    align-items: flex-start;
}

.name-projetos {
    width: 100%;
}

.name-projetos ul {
    width: 100%;
    overflow-y: auto;
}



.li-projeto {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: flex-start;
    padding: 1rem;
    border-top: 2px solid #19D1C2;
    font: 300 1.5rem "nunito sans", sans-serif;
    text-align: justify;
    color: white;
    list-style: none;
}

.seta-container {
    position: absolute;
    color: #19D1C2;
}


.projeto-container {
    display: flex;
    flex-direction: row;
    transform: translateX(-10px);
}

.seta-title {
    position: absolute;
}

.seta-title h4 {
    color: white;
    font: 300 18px "nunito sans", sans-serif;
    text-align: justify;
    width: 100%;
    padding-right: 12px;
    transform: translateX(20px);
}







.card-me {
    color: #19D1C2;
    font-weight: 400;
    font-size: 20px;
    font-family: "nunito sans", sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
    width: 100%;
    max-width: 600px;
    line-height: 1.5;
}

.texts h1 {
    font-size: 45px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.185);
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}

.texts span {
    color: #19D1C2;
    font-weight: 400;
    font-family: "nunito sans", sans-serif;
    text-shadow: 0 0 10px #19d1c2a8;
}

.texts h2 {
    font-size: 25px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.185);
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}

.card-me p {
    width: 520px;
}

.me-dentro {
    height: 100%;
    align-items: center;
}

.me svg {
    margin: 10px 4px;
    border-radius: 10px;
}

.name-projetos {
    list-style: none;
    padding: 0;
}

.li-projeto {
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.projeto-title {
    display: inline-block;
    transition: transform 0.35s ease-in-out;
}

.seta-title {
    display: inline-block;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
}

.git,
.insta,
.whats,
.linkedin {
    border-radius: 50%;
}

.trf a {
    transition: all 0.3s ease-in-out;
}

.trf a:hover {
    transform: translate(-3px, 5px);
}

.trf img {
    transition: all 0.3s ease-in-out;
}

.trf .insta:hover {
    box-shadow: 0 0 10px #dd001a8c;
}

.trf .whats:hover {
    box-shadow: 0 0 10px #25d3659c;
}

.trf .linkedin:hover {
    box-shadow: 0 0 10px #0076b58c;
}

.trf .git:hover {
    box-shadow: 0 0 10px #F1F1F1;
}

.name {
    margin: 30px 0px;
    font-size: 30px;
}

.comp {
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
    font-family: "nunito sans", sans-serif;
    width: 100vw;
    display: flex;
    /* margin: auto; */
    justify-content: center;
}


.card-comp {
    padding: 1.5rem;
    border: 1px solid rgba(75, 74, 74, 0.781);
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(50px);
    width: 43%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.082);
}

.img-icon {
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
}

.card-comp h1 {
    font-size: 30px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.185);
    font-weight: 300;
    color: #19D1C2;
}

.card-comp p {
    font-family: "nunito sans", sans-serif;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.082);
    font-size: 14px;
    text-align: justify;
    padding: 15px;
}

.container-comp {
    align-items: flex-end;
    width: 75%;
    display: flex;
    gap: 2rem;
}

footer {
    background: url(../img/baixo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height:
        60px;
}